Tokens = {
    ETH: {
        keystore: 'test/test.keystore',
        unlockPassword: '123456',
        notify: null
    },
    ERC: {
        keystore: 'test/test.keystore',
        unlockPassword: '123456',
        contractAddress: '0x1c84491d87c325762a79ba1aee0b8e03c8777102',
        notify: null
    }
}

module.exports = Tokens;
